<a href="https://colab.research.google.com/github/ryali93/UNMSM_programacion/blob/master/r/clase02_SintaxisR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 02

# SINTAXIS Y TIPOS DE DATOS

En esta lección revisaremos los tipos de datos, operaciones aritméticas básicas, cómo se pueden almacenar los datos en diferentes estrucutras de datos en R y sobre el concepto de objetos en la programación.

## 2.1 Asignación de variables

Un objeto puede ser creado con el operador **assignar** el cual se denota como una flecha con el signo menor y el símbolo **>** o **<** dependiendo de la dirección en el que asigna el objeto:

In [1]:
n <- 15
n

[1] 15

In [2]:
6 -> n
n

[1] 6

In [ ]:
# Se debe considerar que "sensitive case" (diferencia entre minúsculas y mayúsculas)
x <− 1
X <− 10
x

In [ ]:
X

- *No olvidar que las variables no pueden tener nombres que empiecen con números*
- *Evitar nombres en uso (variables reservadas como **for**, **NaN**)*

## 2.2 Tipos de datos

Los principales tipos de datos posibles en R son:

- **Lógico (logical):** Son datos que sólo permite los valores lógicos verdadero (T / TRUE) o falso (F / FALSE)
- **Numérico (numeric):** Son datos que pueden contener números reales
- **Complejo (complex):** Son datos que pueden contener números complejos
- **Caracter (character):** Son caracteres, no tienen valor numérico

**Números**

In [10]:
a <- 3        # esto es un número entero [int].
sprintf("a es: %s", class(a))
print(a)

[1] "a es: numeric"

[1] 3

In [12]:
b <- 39.747  # esto es un número de coma flotante (float)
sprintf("b es: %s", class(b))
print(b)

[1] "b es: numeric"

[1] 39.747

In [15]:
z <- 4 + 6i   # esto es un número complejo 
sprintf("z es: %s", class(z))
print(z)

[1] "z es: complex"

[1] 4+6i

**Cadena de texto (caracteres)**

In [16]:
c1 <- "Bienvenido año nuevo "    # esto es una cadena de caracteres.
sprintf("c1 es: %s", class(c1))
print(c1)

[1] "c1 es: character"

[1] "Bienvenido año nuevo "

In [17]:
c2 <- "2019"          # esto es una cadena de caracteres. 
sprintf("c2 es: %s", class(c2))
print(c2)

[1] "c2 es: character"

[1] "2019"

In [21]:
sprintf("%s - %s", c1, c2)

[1] "Bienvenido año nuevo  - 2019"

**Booleanos:**

El tipo booleano sólo puede tener dos valores: TRUE / T (cierto) y FALSE / F (falso). Estos valores son especialmente importantes para las expresiones condicionales y los bucles.

In [22]:
# Conjunción
TRUE & TRUE
# TRUE and FALSE

[1] TRUE

In [23]:
# Disyunción
# TRUE | TRUE
# TRUE | FALSE
FALSE | FALSE

[1] FALSE

**Ejemplos:**

In [ ]:
dd <- !TRUE

In [ ]:
!!!!!TRUE

In [ ]:
(4 < 5) & (5 < 6)

In [ ]:
(4 < 5) & (9 < 6)

In [ ]:
x1 <- (1 == 2) | (2 == 2)
x2 <- (1 == 2) & (2 == 2)

sprintf("x1 es: %s", x1)
sprintf("x2 es: %s", x2)

In [ ]:
2 + 2 == 4 & ! 2 + 2 == 5 & 2 * 2 == 2 + 2

In [35]:
nombre <- 'CHOSICA'
id_station <- 202906
longitud <- 76 + 41/60 + 23.8/3600   # 76° 41'23.8
latitud <- 11 + 55/60 + 48.5/3600    # 11° 55'48.5"
tipo <- 'Hidrometrica'
fecha <- "28-02-1998"

Podemos explorar los diferentes tipos de datos almacenados en variables usando la función **class()**.

In [ ]:
class(nombre)

In [ ]:
class(id_station)

In [ ]:
class(latitud)

In [ ]:
class(tipo)

**Métodos de cadenas**

Recuerde que los tipos de datos son importantes porque algunos no son compatibles entre sí.

In [ ]:
nombre + id_station

Aquí obtenemos un Error porque R no sabe cómo combinar una cadena de caracteres (nombre) con un valor entero (id_station).

En otros lenguajes de programación es necesario escribir o declarar variables antes que puedan almacenar cualquier cosa en ellas. Esto no es necesario cuando trabajas con cadenas de caracteres en R.

In [ ]:
cadena1 <- "océano "
cadena2 <- "atmósfera"

cadena <- paste("Interacción ", cadena1, cadena2)
print(cadena)

In [ ]:
cadena1 <- "océano "
cadena2 <- "atmósfera"

cadena <- paste("Interacción ", cadena1,  cadena2)
print(cadena)

cadena1 <- "océano"
cadena2 <- "atmósfera"
cadena <- paste("Interacción ", cadena1,  cadena2)
print(cadena)

In [49]:
cadena <- "123"
numero <- as.character(123)
c <- paste(cadena, numero)
print(c)

[1] "123 123"

**Determinar el número de caracteres de una cadena**

La función **nchar** devuelve el número de caracteres de una cadena. Esto es considerando la cantidad de caracteres y espacios en blanco.

In [ ]:
cadena1 <- "océano"
print(nchar(cadena1))

cadena2 <- "atmósfera"
print(nchar(cadena2))

cadena <- paste0("Interacción ", cadena1, cadena2)
print(nchar(cadena))

**Convertir: Mayúsculas y minúsculas**

R a diferencia de otros lenguajes tiene una orientación más funcional. En este caso, existen algunas funciones que nos permiten pasar a mayúsculas o minúsculas.

**toupper():** devuelve una copia de la cadena con todos los caracteres como mayúsculas.

**tolower():** devuelve una copia de la cadena con todos los caracteres como minúsculas.

In [ ]:
cadena1 = "océano "
cadena2 = "ATMOSFERA"

print(toupper(cadena1))
print(tolower(cadena2))

**Convertir datos de un tipo a otro**

En el caso que variables como **nombre** y **id_station** no puedan combinarse en absoluto. Para combinar una cadena de caracteres con un número necesitamos realizar una conversión de tipo de datos para que sean compatibles. Por ejemplo, podríamos convertir el id_estation entero en una cadena de caracteres usando la función **as.character()**.

In [69]:
id_station_str = as.character(id_station)
print(id_station_str)
print(class(id_station_str))

[1] "202906"
[1] "character"

Como se puede ver, **as.character()** convierte un valor numérico en una cadena de caracteres con los mismos números que antes.

Similar a usar **as.character()** para convertir números en cadenas de caracteres, **as.numeric()** se puede usar para convertir cadenas o números.

**Combinando texto y números**

Aunque la mayoría de las operaciones matemáticas operan con valores numéricos, en R no es posible unir cadenas de texto con un simple +. Para esto usamos la función **paste()** o **paste0()**

In [ ]:
nombreeid = paste0(nombre, ": ", as.character(id_station))
print(nombreeid)

Tenga en cuenta que aquí estamos convirtiendo id una cadena de caracteres utilizando la función **as.character()** dentro de la asignación a la variable nombreeid. Alternativamente, podríamos haber añadido simplemente nombre y id_station_str.

## Tips

### Ayuda

Tal vez ya sabes el nombre de una función, pero todavía tiene que averiguar cómo usarlo.

Irónicamente, hay que pedir información sobre una función con otra función: help().

También se puede usar ?? antes del nombre de la función.

Por último también se puede usar el botón **F1** para ver la documentación de una función en específico.

In [71]:
help(max)
??max